@charset "UTF-8";

:root {
    --licorice: #2D1B1C;
    --caputmortuum: #48211E;
    --coffee: #7A4D2F;
    --lion: #B2906A;
    --vanilla: #F2F09E;
    --preto: #000000;
    --branco: #ffffff;
}
  
h1{

    color:#48211E;
    font-family:Georgia, 'Times New Roman', Times, serif
    
   }

h2{

   color: #2D1B1C;
   font-family: Georgia, 'Times New Roman', Times, serif;
   
}

 h3{
   
   color:#2D1B1C;
   background-color: #B2906A;
   font-family: Georgia, 'Times New Roman', Times, serif;
   
}

 li{

    color:#48211E
 }
 
 strong{

    color: #2D1B1C;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
 }

 p{

   color: #000000;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}