@charset "UTF-8";

:root {
    --licorice: #2D1B1C;
    --caputmortuum: #48211E;
    --coffee: #7A4D2F;
    --lion: #B2906A;
    --vanilla: #F2F09E;
    --preto: #000000;
    --branco: #ffffff;
}
  
h1{

    color:#48211E

 }